body {
  box-sizing: border-box;
}

#root {
  height: 100% !important;
}

/* Icons */
i.icon {
  width: unset !important;
  height: unset !important;
}

.icon-header > i.icon {
  font-size: 32px !important;
}

i.icon.icon-table {
  font-size: 16px !important;
  margin: auto 5px !important;
}

i.icon.icon-table:hover {
  cursor: pointer !important;
  color: darkslategray !important;
  transform: scale(1.2) !important;
}

i.icon.icon-table-header {
  font-size: 16px !important;
  margin: auto 5px !important;
}

i.icon.icon-table-header:hover {
  cursor: pointer !important;
  transform: scale(1.2) !important;
}

i.icon.icon-menu {
  font-size: 16px !important;
  margin: auto 0px !important;
}

i.icon.icon-menu:hover {
  cursor: pointer !important;
  color: goldenrod !important;
  transform: scale(1.2) !important;
}
/* Icons */

/* Table */
.MuiTableCell-stickyHeader {
  background-color: #6d7c8f !important;
  z-index: 3 !important;
}
/* Table */

/* Navbar */
.ui.navbar {
  height: 50px !important;
  margin-left: auto !important;
  border-bottom: 1px solid rgba(173, 173, 173, 0.2) !important;
}

.ui.menu > .container.navbar-container {
  width: 100% !important;
}

.ui.menu .item::before {
  width: 0px !important; /* Hides menu division */
}

.item.menu-collapse-item {
  width: 80px !important;
  display: flex !important;
  justify-content: center !important;
}
/* Navbar */

/* Sidebar */
.prosidebar {
  overflow-y: auto !important;
}

.pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  .pro-inner-list-item
  .pro-inner-item:before {
  display: none !important; /* Hides list decoration in sidebar */
}

.pro-sidebar {
  z-index: 100 !important;
}
/* Sidebar */

/* App */
.ui.main {
  display: flex !important;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 50px !important;
}

.ui.main_content {
  width: 100% !important;
  overflow-y: auto !important;
}
/* App */

/* Notfound */
.notfound {
  min-height: 100% !important;
  justify-content: start !important;
}
/* Notfound */

/* Login */
.ui.login-container {
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-image: linear-gradient(
    135deg,
    rgba(71, 107, 179, 0.904) 0%,
    rgb(106, 107, 160) 70%,
    rgba(87, 100, 214, 0.829) 89%
  ) !important;
}

.ui.login-segment {
  min-width: 450px !important;
  min-height: 300px !important;
  max-width: 450px !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}
/* Login */

/* Table */
.MuiTableCell-root {
  padding: 10px !important;
}

.MuiTablePagination-spacer {
  display: none !important;
}

.MuiTablePagination-toolbar {
  padding-left: 2px !important;
  min-height: 25px !important;
  height: 25px !important;
}

.table-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Table */

/* Filter */
.filter-segment {
  display: block !important;
  position: absolute !important;
  top: 46px !important;
  right: 2.2rem !important;
  padding: 15px !important;
  z-index: 999 !important;
  opacity: 0.96 !important;
}

.filter-segment:before {
  content: " " !important;
  position: absolute !important;
  background: #1b1c1d !important;
  width: 8px !important;
  height: 8px !important;
  top: -4px !important;
  right: 15px !important;
  transform: rotate(135deg) !important;
}

.filter-segment .ui.selection.dropdown {
  min-width: unset !important;
  width: 100% !important;
}
/* Filter */

/* Slider */
.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  background-color: #cc415ba6 !important;
}

.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  top: 3px !important;
  height: 1.1rem !important;
}
/* Slider */

/* Segment */
.ui.segment {
  margin: 0 !important;
}

.ui.principal-segment {
  min-height: 100% !important;
}

.ui.principal-segment .principal-divider {
  margin-top: 0 !important;
  margin-bottom: 1em !important;
}

.ui.segment.segment-header {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 1em !important;
}

.segment-table {
  padding: 0 !important;
  margin: 0 !important;
  min-width: 100% !important;
  min-height: 100% !important;
  border: none !important;
  box-shadow: none !important;
}

.project-detail-segment {
  padding: 0 !important;
  margin: 0 !important;
  min-width: 100% !important;
  min-height: 100% !important;
  border: none !important;
  box-shadow: none !important;
}
/* Segment */

/* Toastify */
.Toastify__toast-container {
  z-index: 99999 !important;
  white-space: pre-line !important;
}
/* Toastify */

/* Validator */
.ui.basic.red.label {
  background: none rgba(255, 255, 255, 0) !important;
  color: #9c1e1e !important;
  border: none !important;
  padding-left: 0 !important;
}
/* Validator */

/* Form */
.rw-widget-picker.rw-widget-container {
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.rw-state-focus {
  color: unset !important;
  border-color: unset !important;
  border-radius: unset !important;
  background: unset !important;
  box-shadow: unset !important;
}

.rw-widget-input.rw-input:focus {
  color: rgba(0, 0, 0, 0.95) !important;
  border-color: #85b7d9 !important;
  border-radius: 0.28571429rem !important;
  background: #fff !important;
}

.rw-widget-container.rw-state-focus,
.rw-state-focus > .rw-widget-container,
.rw-widget-container.rw-state-focus:hover,
.rw-state-focus > .rw-widget-container:hover {
  border-color: #66afe9 !important;
  box-shadow: unset !important;
}

.rw-widget-picker.rw-widget-container > input {
  border: unset !important;
}

.form-container {
  padding: 0 !important;
}

.ui.selection.dropdown > .divider.text {
  white-space: nowrap !important;
  width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.ui.selection.active.dropdown .menu {
  width: max-content;
}

.ui.grid > .column:not(.row) {
  padding-top: 0px !important;
}

.ui.grid {
  padding-top: 1rem !important;
}

.ui.grid + .grid {
  margin-top: unset;
}

.ui.grid > .row {
  padding-top: 0px !important;
}
/* Form */

/* Cropper */
.cropper-container.cropper-bg {
  width: 100% !important;
}
/* Cropper */

/* Modal */
.upper-modal {
  z-index: 10010 !important;
}
/* Modal */

/* Photo widget */
.preview-container {
  display: "flex" !important;
  flex-direction: "column" !important;
  align-items: "center" !important;
}
/* Photo widget */

/* Loading */
.ui.loading.segment:before {
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
}
/* Loading */

.calendar .months-container .month-container {
  height: 235px !important;
}

.calendar table.month td.day .day-content {
  border-radius: 0 !important;
}

.calendar-year > .calendar {
  max-height: 500px !important;
  padding: 0 !important;
}

/* .calendar .calendar-header {
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border: 0;
}

.calendar .calendar-header .year-title {
  font-size: 18px;
}

.calendar .calendar-header .year-title:hover,
.calendar .calendar-header .prev:hover,
.calendar .calendar-header .next:hover{
  background: rgba(255, 255, 255, 0.2);
}

.calendar .calendar-header .year-title:not(.year-neighbor):not(.year-neighbor2) {
  border-bottom: 2px solid #ccc;
}

.calendar .calendar-header .year-neighbor {
  color: inherit;
  opacity: 0.7;
}

.calendar .calendar-header .year-neighbor2 {
  color: inherit;
  opacity: 0.4;
}

.calendar .months-container .month-container {
  height: 235px;
  margin-bottom: 25px;
}

.calendar table.month {
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

.calendar table.month th.month-title {
  background-color: #f0f0f0;
  color: #888;
  padding: 6px;
  font-size: 13px;
  font-weight: 600;
}

.calendar table.month th.day-header {
  padding-top: 8px;
  padding-bottom: 5px;
  color: #666;
  font-weight: 500;
}

.calendar table.month td.day .day-content {
  color: #666;
  padding: 9px 7px;
  border-radius: 2px;
} */

.MuiIconButton-root {
  padding: 4px !important;
}

.MuiTablePagination-selectRoot {
  margin-left: 0 !important;
  margin-right: 16px !important;
}

.search-table input {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #e0e0e0 !important;
  border-radius: 0px !important;
  color: #e0e0e0 !important;
  margin-right: 15px !important;
  width: 120px !important;
  height: 25px !important;
}

.search-table.input > i.icon {
  top: 15px !important;
  right: 35px !important;
}

.columns-segment {
  display: block !important;
  position: absolute !important;
  top: 46px !important;
  right: 0.25rem !important;
  padding: 15px !important;
  z-index: 999 !important;
  opacity: 0.96 !important;
}

.columns-segment:before {
  content: " " !important;
  position: absolute !important;
  background: #1b1c1d !important;
  width: 8px !important;
  height: 8px !important;
  top: -4px !important;
  right: 15px !important;
  transform: rotate(135deg) !important;
}

.columns-segment .ui.checkbox label {
  color: white !important;
}

table a {
  color: #2a5075 !important;
  text-decoration: underline !important;
}

.ui.container.table-selected-actions {
  width: 50% !important;
  margin: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: inline-block !important;
}

.ui.vertical.tabular.menu .active.item {
  background-color: #6d7c8f !important;
  color: white !important;
}
/* 
.ui.bottom.attached.segment.active.tab {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  min-height: unset !important;
} */

.ui.grid > .stretched.column:not(.row) {
  height: max-content !important;
}

.ui.dropdown:not(.nav-dropdown) {
  height: 36px !important;
}

.ui[class*="right floated"].dropdown {
  float: right !important;
  margin-right: 0 !important;
  margin-left: 0.25em !important;
}

.MuiPaper-root.MuiTableContainer-root::-webkit-scrollbar {
  width: 3px;
  /* background: transparent; */
}

.ui.button.a-button {
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
}

.ui.button.a-button.white {
  color: white !important;
}
