body {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.svg-inline--fa.menu:hover{
  cursor: pointer;
  color: goldenrod;
}

.svg-inline--fa.table:hover{
  cursor: pointer;
  color: darkslategray;
  transform: scale(1.2);
}

.proSidebar, .ui.main_content {
  overflow-y: auto;
}

.header-height {
  height: 50px;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before {
  display: none !important;
}

.ui.main {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0px !important;
  padding: 0;
  padding-top: 50px;
}

.ui.navbar {
  margin-left: auto !important;
  border-bottom: 1px solid rgba(173, 173, 173, 0.2) !important;
}

.ui.menu .item::before {
  width: 0px !important;
}

.item.menu-collapse-item {
  width: 80px;
  display: flex;
  justify-content: center;
}

.ui.menu > .container.navbar-container {
  width: 100% !important;
}

.ui.main_content {
  width: 100% !important;
}

.ui.segment {
  margin: 0 !important;
}

.ui.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgba(56, 98, 187, 0.904) 0%,
    rgb(159, 160, 216) 49%,
    rgba(209, 77, 180, 0.829) 89%
  ) !important;
}

.ui.login-segment {
  min-width: 450px;
  min-height: 300px;
  border: none;
  box-shadow: none;
  background: none;
}

.MuiTableCell-root {
  padding: 10px !important;
}

.MuiTablePagination-spacer {
  display: none !important;
}

.MuiTablePagination-toolbar {
  padding-left: 2px !important;
  min-height: 25px !important;
  height: 25px !important;
}