body {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

/* Icons */
i.icon:not(.link, .circular) {
  width: unset;
  height: unset;
}

.pro-icon i.icon {
  width: unset;
  height: unset;
}

.icon-header > i.icon {
  font-size: 32px;
}

i.icon.icon-table {
  font-size: 16px;
  margin: auto 5px;
  height: inherit;
}

i.icon.icon-table:hover {
  cursor: pointer;
  color: darkslategray;
  transform: scale(1.2);
}

i.icon.icon-table-header {
  font-size: 16px;
  margin: auto 5px;
}

i.icon.icon-table-header:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.ui.menu .item > i.icon.icon-menu {
  font-size: 16px;
  margin: auto 0px;
}

i.icon.icon-menu:hover {
  cursor: pointer;
  color: goldenrod;
  transform: scale(1.2);
}
/* Icons */

/* Table */
.sticky-table .MuiTableCell-stickyHeader {
  background-color: #6d7c8f;
  z-index: 3;
}
/* Table */

/* Navbar */
.ui.navbar {
  height: 50px;
  margin-left: auto;
  border-bottom: 1px solid rgba(173, 173, 173, 0.2);
}

.ui.menu > .container.navbar-container {
  width: 100%;
}

.ui.menu .item::before {
  width: 0px;
}

.item.menu-collapse-item {
  width: 80px;
  display: flex;
  justify-content: center;
}
/* Navbar */

/* Sidebar */
.pro-sidebar.prosidebar {
  overflow-y: auto;
  z-index: 100;
}

.pro-sidebar.prosidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  .pro-inner-list-item
  .pro-inner-item:before {
  display: none;
}
/* Sidebar */

/* App */
.ui.container.main {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

.ui.container.main_content {
  width: 100%;
  overflow-y: auto;
}
/* App */

/* Notfound */
.ui.placeholder.segment.notfound {
  min-height: 100%;
  justify-content: start;
}
/* Notfound */

/* Login */
.ui.container.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgba(71, 107, 179, 0.904) 0%,
    rgb(106, 107, 160) 70%,
    rgba(87, 100, 214, 0.829) 89%
  );
}

.ui.segment.login-segment {
  min-width: 450px;
  min-height: 300px;
  max-width: 450px;
  border: none;
  box-shadow: none;
  background: none;
}
/* Login */

/* Table */
table .image.avatar.mini {
  margin-top: -8px;
  margin-bottom: -8px;
}

.MuiTableHead-root .MuiTableCell-root {
  padding: 10px;
}

.MuiTableHead-root .MuiTablePagination-root:last-child {
  padding: 10px;
}

.MuiTableBody-root .MuiTableCell-root {
  padding: 10px;
  padding-bottom: 8px;
}

.long {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.MuiTablePagination-spacer {
  display: none;
}

.MuiToolbar-root.MuiTablePagination-toolbar {
  padding-left: 2px;
  min-height: 25px;
  height: 25px;
}

.table-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiTableHead-root .MuiIconButton-root {
  padding: 4px;
}

.MuiTableHead-root .MuiTablePagination-selectRoot {
  margin-left: 0;
  margin-right: 16px;
}

.MuiTableHead-root .search-table input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0px;
  color: #e0e0e0;
  margin-right: 15px;
  width: 120px;
  height: 25px;
}

.MuiTableHead-root .search-table input:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0px;
  color: #e0e0e0;
  margin-right: 15px;
  width: 120px;
  height: 25px;
}

.MuiTableHead-root .search-table.input > i.icon {
  top: 0px;
  right: 10px;
}

.ui.segment.columns-segment {
  display: block;
  position: absolute;
  top: 46px;
  right: 0.25rem;
  padding: 15px;
  z-index: 999;
  opacity: 0.96;
}

.ui.segment.columns-segment:before {
  content: " ";
  position: absolute;
  background: #1b1c1d;
  width: 8px;
  height: 8px;
  top: -4px;
  right: 18px;
  transform: rotate(135deg);
}

.ui.segment.columns-segment .ui.checkbox label {
  color: white;
}

table a {
  color: #2a5075;
  text-decoration: underline;
}

.ui.container.table-selected-actions {
  width: 50%;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
}

.table-actions i.icon {
  font-size: 16px;
  margin: auto 5px;
  height: inherit;
}

.table-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Table */

/* Filter */
.segment.filter-segment {
  display: block;
  position: absolute;
  top: 46px;
  right: 2.2rem;
  padding: 15px;
  z-index: 999;
  opacity: 0.96;
}

.segment.filter-segment:before {
  content: " ";
  position: absolute;
  background: #1b1c1d;
  width: 8px;
  height: 8px;
  top: -4px;
  right: 18px;
  transform: rotate(135deg);
}

.filter-segment .ui.selection.dropdown {
  min-width: unset;
  width: 100%;
}
/* Filter */

/* Slider */
.ui.toggle.fitted.checkbox .box:before,
.ui.toggle.fitted.checkbox label:before {
  background-color: #cc415ba6;
  top: 3px;
  height: 1.1rem;
}
/* Slider */

/* Segment */
.ui.segment {
  margin: 0;
}

.ui.segment.principal-segment {
  min-height: 100%;
}

.ui.principal-segment .principal-divider {
  margin-top: 0;
  margin-bottom: 1em;
}

.ui.segment.segment-header {
  padding: 0;
  border: none;
  box-shadow: none;
  margin-bottom: 1em;
}

.ui.segment.segment-table {
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  border: none;
  box-shadow: none;
}

.ui.segment.principal-segment.project-detail-segment {
  padding: 0;
  border: none;
  box-shadow: none;
}
/* Segment */

/* Toastify */
.Toastify__toast-container {
  z-index: 99999 !important;
  white-space: pre-line !important;
}
/* Toastify */

/* Validator */
.error.field .ui.basic.red.label {
  background: none rgba(255, 255, 255, 0);
  color: #9c1e1e;
  border: none;
  padding-left: 0;
}
/* Validator */

/* Form */
.custom-datepicker .rw-widget-picker.rw-widget-container {
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.custom-datepicker.rw-state-focus {
  color: unset;
  border-color: unset;
  border-radius: unset;
  background: unset;
  box-shadow: unset;
}

.field .rw-widget-container.rw-state-focus,
.field .rw-state-focus > .rw-widget-container,
.field .rw-widget-container.rw-state-focus:hover,
.field .rw-state-focus > .rw-widget-container:hover {
  box-shadow: unset;
  border-color: #85b7d9;
}

.error.field .rw-widget-container.rw-state-focus,
.error.field .rw-state-focus > .rw-widget-container,
.error.field .rw-widget-container.rw-state-focus:hover,
.error.field .rw-state-focus > .rw-widget-container:hover {
  box-shadow: unset;
  border-color: #e0b4b4;
}

.custom-datepicker .rw-widget-picker.rw-widget-container > input {
  border: unset;
}

.ui.segment.form-container {
  padding: 0;
}

.ui.selection.dropdown > .divider.text {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.form .field > .selection.dropdown {
  min-width: unset;
}

.ui.selection.active.dropdown .menu {
  width: max-content;
}

.ui.grid > .column:not(.row) {
  padding-top: 0px;
}

.ui.grid {
  padding-top: 1rem;
}

.ui.grid + .grid {
  margin-top: unset;
}

.ui.grid > .row {
  padding-top: 0px;
}

.ui.grid > .stretched.column:not(.row) {
  height: max-content;
}

form .ui.dropdown,
.segment-header .ui.dropdown {
  height: 36px;
}

.ui[class*="right floated"].dropdown {
  float: right;
  margin-right: 0;
  margin-left: 0.25em;
}

.false-label {
  visibility: hidden;
  display: block;
}

.ui.label.form-label {
  height: 36px;
  font-size: larger;
}
/* Form */

/* Cropper */
.cropper-container.cropper-bg {
  width: 100% !important;
}
/* Cropper */

/* Modal */
.ui.modal.upper-modal {
  z-index: 10010;
}

.ui.fullscreen.modal {
  left: unset !important;
}
/* Modal */

/* Loading */
.ui.loading.segment:before {
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
}
/* Loading */

/* .calendar .months-container .month-container {
  height: 235px !important;
}

.calendar table.month td.day .day-content {
  border-radius: 0 !important;
}

.calendar-year > .calendar {
  max-height: 500px !important;
  padding: 0 !important;
}

 .calendar .calendar-header {
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border: 0;
}

.calendar .calendar-header .year-title {
  font-size: 18px;
}

.calendar .calendar-header .year-title:hover,
.calendar .calendar-header .prev:hover,
.calendar .calendar-header .next:hover{
  background: rgba(255, 255, 255, 0.2);
}

.calendar .calendar-header .year-title:not(.year-neighbor):not(.year-neighbor2) {
  border-bottom: 2px solid #ccc;
}

.calendar .calendar-header .year-neighbor {
  color: inherit;
  opacity: 0.7;
}

.calendar .calendar-header .year-neighbor2 {
  color: inherit;
  opacity: 0.4;
}

.calendar .months-container .month-container {
  height: 235px;
  margin-bottom: 25px;
}

.calendar table.month {
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

.calendar table.month th.month-title {
  background-color: #f0f0f0;
  color: #888;
  padding: 6px;
  font-size: 13px;
  font-weight: 600;
}

.calendar table.month th.day-header {
  padding-top: 8px;
  padding-bottom: 5px;
  color: #666;
  font-weight: 500;
}

.calendar table.month td.day .day-content {
  color: #666;
  padding: 9px 7px;
  border-radius: 2px;
}  */

/* Tab */
.ui.vertical.tabular.menu .active.item {
  background-color: #6d7c8f;
  color: white;
}
/* Tab */

/* Scrolls */
.activity.comment-form::-webkit-scrollbar,
.activity.log-form::-webkit-scrollbar {
  width: 2px;
}

.visible.menu.transition::-webkit-scrollbar,
.activity.log-form::-webkit-scrollbar {
  width: 3px;
}

.MuiPaper-root.MuiTableContainer-root::-webkit-scrollbar {
  width: 3px;
}
/* Scrolls */

/* Button */
.ui.button.a-button {
  padding: 0;
  margin: 0;
  background: none;
  color: #2a5075;
}

.ui.button.a-button:hover {
  text-decoration: underline;
}

.ui.button.a-button.white {
  color: white;
}
/* Button */

/* Progress */
.ui.progress.form-progress {
  margin-bottom: 0;
}

.MuiTableCell-root .ui.progress {
  margin-bottom: 0;
}

form .ui.progress.form-progress {
  height: 36px;
}

form .ui.progress.form-progress .bar {
  height: 36px;
}
/* Progress */

/* DateRangePicker */
.daterange-container > div:first-child {
  width: 100% !important;
}

.daterange-container > div:first-child > div {
  margin-bottom: 0 !important;
}
/* DateRangePicker */

/* Activity Form */
.ui.grid > .column:not(.row) .form-clock {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ui.grid .row .column.activity.log-form {
  max-height: 160px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 1em;
  margin-top: 1em;
}

.activity.comment-form {
  max-height: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1em 1em 1em 1em;
}

.activity-form .activity-tab > .ui.grid {
  padding-top: 0;
}

.activity-form .ui.tabular.menu .item {
  padding: 1em 1em;
}

.activity-form .ui.grid.no-padding {
  padding: 0;
}
/* Activity Form */

/* TinyMCE */
.tox .tox-tbtn {
  transform: scale(0.7) !important; /* you can set the scale that you want */
  height: unset !important;
  width: unset !important;
}

.tox .tox-tbtn--bespoke .tox-tbtn__select-label {
  width: unset !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg height='39px' viewBox='0 0 40 39px' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='38px' width='100' height='1' fill='%23cccccc'/%3E%3C/svg%3E")
    left 0 bottom 0 #fff !important;
}
/* TinyMCE */

/* .ui.grid.no-padding {
  padding: 0;
}

.activity-tab > .ui.grid {
  padding-top: 0;
}

.ui.tabular.menu .item {
  padding: 1em 1em;
}

.ui.comments .text * {
  margin: 0;
  padding: 0;
} */
